BOT_TOKEN="change:changeme"
AUTH_CODE="changeme"
CLIENT_ID="changeme"
CLIENT_SECRET="changeme"


# Optional field. If get AUTH_CODE
# and use it to get ACCESS_TOKEN, insert it here
ACCESS_TOKEN="changeme"
REFRESH_TOKEN="changeme"
